# This is a basic workflow to help you get started with Actions

name: Upload Website to S3
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@master

      - name: Install
        run: npm install   
        
      - name: Build
        run: npm run build
        
      - name: Test and run Lint
        run: npm run lint
        

      - name: Deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.S3_GITHUB_DEPLOY_ACCESS_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.S3_GITHUB_DEPLOY_SECRET_KEY }}
        run: |
          aws s3 cp \
            --recursive \
            --region  ${{ secrets.AWS_REGION }} \
            dist s3://corniehealth-frontend
